*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

a{
    color: #ffffff;
}

a:hover{
    color: #47b2e4;
    text-decoration: none;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    margin: 0;
    padding: 0;
    list-style: none;
}

h3{
    font-size: 34px;
    color: #37517e;
}

.section-title{
    padding-bottom: 30px;
}

.section-title h2{
    text-align: center;
    text-transform: uppercase;
    color: #37517e;
    font-size: 32px;
    font-weight: bold;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.section-title h2::before{
    content: '';
    position: absolute;
    width: 120px;
    height: 1px;
    background-color: #ddd;
    display: block;
    bottom: 1px;
    left: calc(50% - 60px);
}

.section-title h2::after{
    content: '';
    position: absolute;
    width: 40px;
    height: 3px;
    background-color: #47b2e4;
    display: block;
    bottom: 0;
    left: calc(50% - 20px);
}


/***--- Main Body Style ---***/

/*----------
 Header Start
----------*/

#header{
    padding-top: 10px;
    padding-bottom: 10px;
}

.fixed-top{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header-scrolled{
    background-color: rgba(40, 58, 90, 0.9);
}

#header #logo a{
    color: #ffffff;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 1px;
}

#header .nav-menu > ul{
    display: flex;
}

#header .nav-menu > ul li{
    position: relative;
    padding: 10px 0 10px 30px;
    white-space: nowrap;
}

#header .nav-menu > ul li:first-child{
    padding-left: 0;
}

#header .nav-menu > ul li a{
    font-size: 15px;
    font-weight: 450;
}

#header .nav-menu > ul .drop-down-menu a{
    position: relative;
}

#header .nav-menu > ul .drop-down-menu > a::after{
    content: "\f107";
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 19px;
    top: -1px;
    right: -16px;
}

#header .nav-menu > ul .drop-down-menu .drop-down {
    background-color: #fff;
    position: absolute;
    top: 45px;
    left: 45px;
    padding: 10px 15px;
    border-radius: 10px;
    width: 180px;
    box-shadow: 0 0 20px rgba(0,0,0,0.9);
    opacity: 0;
    visibility: hidden;
}

#header .nav-menu > ul .drop-down-menu:hover .drop-down{
    opacity: 1;
    visibility: visible;
}

#header .nav-menu > ul .drop-down-menu .drop-down li{
    padding: 8px;
}

#header .nav-menu > ul .drop-down-menu .drop-down li a{
    color: #0c3c53;
    
}

#header .nav-menu > ul .drop-down-menu .drop-down li a:hover{
    color: #47b2e4;
}

#header .get-started-btn{
    margin-left: 25px;
    padding: 6px 25px 7px;
    border: 2px solid #47b2e4;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}

#header .get-started-btn:hover{
    background-color: #47b2e4;
    color: #ffff;
}

#mobile-toggler-btn{
    display: none;
}

.cencel-btn{
    display: none;
}

/*-------
 Header End
 --------*/

/*-------
 Hero Style Start
 -------*/

#hero{
    background-color: #37517e;
    padding-top: 60px;
    padding-bottom: 0px;
}

#hero .container{
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

#hero .container .col-lg-6 h1{
    font-size: 48px;
    color:#ffffff;
    margin-bottom: 15px;
}

#hero .container .col-lg-6 h2{
    font-size: 24px;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 50px;
}

#hero .container .col-lg-6 .d-lg-flex .get-started-btn{
    background-color: #47b2e4;
    color: #ffff;
    padding: 10px 25px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 10px;
    display: inline-block;
}

#hero .container .col-lg-6 .d-lg-flex .get-started-btn:hover{
    background-color:#29a6e0;
}

#hero .container .col-lg-6 .d-lg-flex .video-btn{
    font-size: 16px;
    margin-left: 25px;
    font-weight: bold;
    padding-top: 11px;
    padding-left: 40px;
    letter-spacing: 1px;
    margin-top: 10px;
    display: inline-block;
    position: relative;
    background-color: transparent;
    border: 0;
    color: #fff;
}

#hero .container .col-lg-6 .d-lg-flex .video-btn:hover{
    color: #ffff;
}

#hero .container .col-lg-6 .d-lg-flex .video-btn i{
    position: absolute;
    font-size: 32px;
    left: 0;
    top: 6px;
}

#hero .container .col-lg-6 .d-lg-flex .video-btn:hover i{
    color:#47b2e4;
}

#hero #hero-img .animated{
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

/*-------
 Hero Style End
 -------*/

/**-- Main Section Start --**/

/*---------
 Clients Section Start
 ----------*/
.clients-section-bg{
    background-color: #f3f5fa;
    padding-top: 10px;
    padding-bottom: 10px;
}

#clients-section .container img{
    max-width: 45%;
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: all 0.4s ease-in-out;
    -webkit-filter: grayscale(100);
    filter: grayscale(100);
}

#clients-section .container img:hover{
    transform: scale(1.5);
    -webkit-filter: none;
    filter: none;
}

/*---------
 Clients Section End
 ----------*/

/*---------
 About Section Start
---------*/
#about{
     padding-top: 60px;
     padding-bottom: 60px;
}

#about .row ul li{
    padding-left: 30px;
    position: relative;
}

#about .row ul li + li{
    margin-top: 10px;
}

#about .row ul li i{
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 21px;
    color: #47b2e4;
}

#about .container .learn-more-btn{
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 1px;
    color: #47b2e4;
    margin-top: 6px;
    border: 2px solid #47b2e4;
    border-radius: 5px;
    outline: none;
    padding: 12px 32px;
    display: inline-block;
}

#about .container .learn-more-btn:hover{
    color: #ffff;
    background-color: #47b2e4;
}

/*---------
 About Section End
---------*/

/*---------
 why Us  Section Start
---------*/
#why-us{
    padding-top: 60px;
    padding-bottom: 60px;
}

.why-us-bg{
    background-color: #f3f5fa;
}

#why-us .container-fluid .col-lg-7 .content{
    padding:60px 100px;
}

#why-us .container-fluid .col-lg-7 .content > p{
    color: #848484;
}

#why-us .container-fluid .col-lg-7 .content ul li{
    position: relative;
}

#why-us .container-fluid .col-lg-7 .content ul li +li{
    margin-top: 15px;
}

#why-us .container-fluid .col-lg-7 .content ul li > a{
    padding: 20px;
    color: #343a40;
    background-color: #ffffff;
    border-radius: 4px;
    display: block;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500; 
}

#why-us .container-fluid .col-lg-7 .content ul li a i{
    position: absolute;
    top: 25px;
    right: 20px;
}

#why-us .container-fluid .content .accordion-list .icon-show{
    display: none;
}

#why-us .container-fluid .content .accordion-list .collapsed .icon-show{
    display: inline-block;
}

#why-us .container-fluid .content .accordion-list .collapsed .icon-close{
    display: none;
}

#why-us .container-fluid .col-lg-7 .content ul li > a span{
    padding-right: 10px;
    font-size: 18px;
    font-weight: 600;
}

#why-us .container-fluid .col-lg-7 .content ul li > a:hover,span{
    color: #47b2e4;
}

#why-us .container-fluid .col-lg-7 .content ul li p{
    position: relative;
    background-color: #ffffff;
    padding-left: 20px;
    display: inline-block;
    overflow: hidden;
    overflow-y: auto;
    margin-bottom: 0;
    padding-bottom: 30px;
}

#why-us .container-fluid .col-lg-5 {
    background-image: url(../img/why-us.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

/*---------
 Progress Section Start
---------*/
#progress-section{
    padding-top: 60px;
    padding-bottom: 60px;
}

#progress-section .container .col-lg-6 h3{
    font-weight: 700;
}

#progress-section .container .col-lg-6 p{
    color: #848484;
    margin-bottom: 20px;
}

#progress-section .container .col-lg-6 label{
    width: 100%;
    position: relative;
    margin-bottom: 4px;
}

#progress-section .container .col-lg-6 .progress{
    height: 10px;
    border-radius: 0;
    background-color: #e8edf5;
    margin-bottom: 10px;
}

#progress-section .container .col-lg-6 .progress .progress-bar{
    background-color: #4668a2;
}

#progress-section .container .col-lg-6 label span{
    color:#4668a2;
    font-size: 12px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
}

#progress-section .container .col-lg-6 label .number{
    position: absolute;
    right: 0;
    top: 4px;
}

/*---------
 Progress Section End
 ---------*/

 /*---------
  Service section Start
  ---------*/
#service-section{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f3f5fa;
}

#service-section .col-xl-3 .content{
    background-color: #ffffff;
    padding: 30px 30px;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.1);
    transition: all ease-in-out 0.4s;
}

#service-section .col-xl-3 .content:hover{
    transform: translateY(-10px)
}

#service-section .col-xl-3 .content i{
    font-size: 36px;
    color: #47b2e4;
    margin-bottom: 10px;
}

#service-section .col-xl-3 .content h4 a{
    font-size: 24px;
    color: #37517e;
    margin-bottom: 15px;
}

#service-section .col-xl-3 .content h4 a:hover{
    color: #47b2e4;
}

#service-section .col-xl-3 .content p{
    color: #444444;
}

/*---------
 Parallax Section Start
---------*/

#parallax-section{
    background-image: url(../img/cta-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding-top: 120px;
    padding-bottom: 120px;
    position: relative;
}

#parallax-section::before{
    content: "";
    background-color: rgba(40, 58, 90, 0.9);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#parallax-section .container .col-lg-9 h4{
    color: #ffffff;
    font-size: 28px;
    font-weight: 700;
}

#parallax-section .container .col-lg-9 p{
    color: #ffff;
    font-size: 16px;
    margin-bottom: 10px;
}

#parallax-section .container .col-lg-3{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#parallax-section .container .col-lg-3 .parallax-btn{
    display: inline-block;
    padding: 12px 40px;
    border: 2px solid #ffffff;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 10px;
    transition: 0.5s;
}

#parallax-section .container .col-lg-3 .parallax-btn:hover{
    background-color: #47b2e4;
    color: #ffff;
}

/*---------
 Parallax Section End
---------*/

/*---------
 Portfolio Section Start
---------*/

#portfolio-section{
    padding-top: 60px;
    padding-bottom: 60px;
}

#portfolio-section .portfolio-item{
    padding-bottom: 30px;
}

#portfolio-section ul li{
    font-size: 15px;
    font-weight: 500;
    color: #444444;
    margin: 10px 5px;
    padding: 8px 20px;
    border-radius: 50px;
    line-height: 1;
    transition: all 0.3s;
}

#portfolio-section ul li.active{
    color: #ffff;
    background-color: #47b2e4;
}

#portfolio-section ul li:hover{
    color: #ffff;
    background-color: #47b2e4;
}


#portfolio-section .container .row .item-here{
    margin-bottom: 30px;
    
}

#portfolio-section .container .col-lg-4 .portfolio-img{
    overflow: hidden;
}

#portfolio-section .container .col-lg-4 .portfolio-img img{
    transition: all 0.6s;
    
}

#portfolio-section .container .col-lg-4 .portfolio-info{
    position: absolute;
    background: rgba(55, 81, 126, 0.8);;
    padding: 7px 15px;
    width: 350px;
    bottom: 0;
    left: 15px;
    z-index: 3;
    opacity: 0;
    transition: all 1.3s;
}

#portfolio-section .container .col-lg-4 .portfolio-img:hover img{
    transform: scale(1.15);
}

#portfolio-section .container .col-lg-4:hover .portfolio-info{
    opacity: 1;
}

#portfolio-section .container .col-lg-4 .portfolio-info h4{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
    position: relative;
}

#portfolio-section .container .col-lg-4 .portfolio-info p{
    color: #f9fcfe;
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 5px;
    display: inline-block;
}

#portfolio-section .container .col-lg-4 .portfolio-info a{
    font-size: 15px;
}

#portfolio-section .container .col-lg-4 .portfolio-info a:nth-child(3) i{
    position: absolute;
    top: 25px;
    right: 45px;
}

#portfolio-section .container .col-lg-4 .portfolio-info a:nth-child(4) i{
    position: absolute;
    top: 25px;
    right: 15px;
}

/*---------
 Portfolio Section End
---------*/

/*---------
 Team Section start
---------*/
 #team-section{
    background-color: #f3f5fa;
    padding-top: 60px;
    padding-bottom: 60px;
 }

#team-section .container .col-lg-6 .member-section{
    background-color: #ffffff;
    padding: 30px;
    border-radius: 5px;
    outline: none;
    transition: ease-in-out 0.3s;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.1);
}

#team-section .container .col-lg-6 .member-section:hover{
    transform: translateY(-10px);
}

#team-section .container .member-section .member-photo img{
    border-radius: 50%;
    outline:none;
}

#team-section .container .member-section .member-content .member-name{
    color: #37517e;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}

#team-section .container .member-section .member-content .designation{
    font-size: 15px;
    padding-bottom: 10px;
    color: #444444;
    display: block;
    position: relative;
    margin-bottom: 10px;
}

#team-section .container .member-section .member-content .designation::after{
    content: '';
    background-color: #cbd6e9;
    height: 1px;
    width: 50px;
    position: absolute;
    left: 0;
    bottom: 0;
    
}

#team-section .container .member-section .member-content ul li{
    display: inline-block;
    margin-right: 5px; 
}

#team-section .container .member-section .member-content ul li:last-child{
    margin-right: 0;
}

#team-section .container .member-section .member-content ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    outline: none;
    color: #37517e;
    background-color: #eff2f8;
}

#team-section .container .member-section .member-content ul li a:hover{
    color: #ffff;
    background-color: #47b2e4;
}

/*---------
 Team Section End
---------*/

/*---------
 Pricing Section Start
---------*/
#pricing-section{
    background-color: #f8f9fa;
    padding-top: 60px;
    padding-bottom: 60px;
}

#pricing-section .col-lg-4 .pricing-content{
    padding: 60px 40px;
    background-color: #fff;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.1);
    border-radius: 5px;
    border-top: 4px solid #fff;
}

#pricing-section .col-lg-4 .pricing-content.featured{
    border-color: #47b2e4;
}

#pricing-section .col-lg-4 .pricing-content h4{
    font-size: 20px;
    font-weight: 500;
    color: #37517e;
    margin-bottom: 15px;
}

#pricing-section .col-lg-4 .pricing-content .price{
    font-size: 48px;
    line-height: 40px;
    color: #37517e;
    margin-bottom: 5px;
}

#pricing-section .col-lg-4 .pricing-content .price sup{
    font-size: 28px;
}

#pricing-section .col-lg-4 .pricing-content .date{
    font-size: 18px;
    color: #47b2e4;
    display: block;
    font-style: italic;
}

#pricing-section .col-lg-4 .pricing-content ul{
    padding-top: 20px;
    padding-bottom: 20px;
}

#pricing-section .col-lg-4 .pricing-content ul li{
    font-size: 17px;
    color: #999;
    padding: 10px 0 10px 30px;
    position: relative;
}

#pricing-section .col-lg-4 .pricing-content ul li::after{
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    left: 0;
    top: 6px;
    color: #28a745;
}

#pricing-section .col-lg-4 .pricing-content ul .crose-icon::after{
    content: "\f00d";
    font-family: "Font Awesome 5 Free";
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    left: 0;
    top: 6px;
    color: #999;
}

#pricing-section .col-lg-4 .pricing-content .get-started-btn{
    color: #47b2e4;
    background-color: #ffff;
    padding: 10px 25px;
    border: 1px solid #47b2e4;
    outline: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 10px;
    display: inline-block;
}

#pricing-section .col-lg-4 .pricing-content .get-started-btn:hover{
    color: #ffff;
    background-color: #47b2e4;
}

#pricing-section .col-lg-4 .pricing-content .get-started-btn.active{
    color: #ffff;
    background-color: #47b2e4; 
}

/*---------
 Pricing Section End
---------*/

/*---------
 Frequently Section Start
---------*/
#frequently-section{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f3f5fa;
}

#frequently-section .col-12{
    padding-left: 100px;
    padding-right: 100px;
}

#frequently-section .col-12 .frequently-content ul li{
    padding: 20px 20px 0 20px;
    margin-bottom: 30px;
    background-color: #ffffff;
    border-radius: 5px;
    position: relative;
}

#frequently-section .col-12 .frequently-content ul li:last-child{
    margin-bottom: 0;
}

#frequently-section .col-12 .frequently-content ul li a{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #37517e;
    padding: 0 30px 0 30px;
    display: block;
    position: relative;
    padding-bottom: 20px;
}

#frequently-section .col-12 .frequently-content ul li a::before{
    content: "\f059";
    font-size: 22px;
    font-family: "font Awesome 5 free";
    font-weight: 700;
    position: absolute;
    left: 2px;
    top: 0;
    color: #47b2e4; 
}

#frequently-section .col-12 .frequently-content ul li a i{
    position: absolute;
    right: 4px;
    top: 2px;
    font-size: 18px;
}

#frequently-section .col-12 .frequently-content ul li a .icon-show{
    display: none;
}

#frequently-section .col-12 .frequently-content ul li .collapsed .icon-show{
    display: inline-block;
}

#frequently-section .col-12 .frequently-content ul li .collapsed .icon-close{
    display: none;
}

#frequently-section .col-12 .frequently-content ul li > div p{
    background-color: #ffffff;
    margin-bottom: 0;
    padding-bottom: 20px;
}

/*---------
 Frequently Section End
---------*/

/*---------
 Contact Section Start
---------*/
#contact-section{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f8f9fa;
}

#contact-section .container .contact-content{
    background-color: #ffff;
    padding: 30px;
    border-top: 4px solid #47b2e4;
    border-bottom: 4px solid #47b2e4;
    width: 100%;
}

#contact-section .container .col-lg-5 .contact-content > div i{
    font-size: 20px;
    float: left;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #47b2e4;
    background-color: #e7f5fb;
    transition: 0.3s ease-in-out;
}

#contact-section .container .col-lg-5 .contact-content > div i:hover{
    color: #fff;
    background-color: #47b2e4;
}

#contact-section .container .col-lg-5 .contact-content > div h4{
    font-size: 22px;
    font-weight: 600;
    color: #37517e;
    padding-left: 60px;
    margin-bottom: 5px;
}

#contact-section .container .col-lg-5 .contact-content > div p{
    font-size: 14px;
    color: #6182ba;
    padding-left: 60px;
    padding-bottom: 20px;
}

#contact-section .container .col-lg-5 .contact-content > div:last-child p{
    margin-bottom: 0;
}

#contact-section .container .col-lg-5 .contact-content  iframe{
    box-shadow: 0 0 25px 0 rgb(0,0,0,0);
}

#contact-section .container .col-lg-7 .contact-content .form-row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

#contact-section .container .col-lg-7 .contact-content .form-group{
    width: 100%;
}

#contact-section .container .col-lg-7 .contact-content .form-group label{
    display: inline-block;
    font-size: 16px;
    margin-bottom: 8px;
    color: #444444;
    font-weight: 400;
}

#contact-section .container .col-lg-7 .contact-content .form-group input{
    height: 44px;
}

#contact-section .container .col-lg-7 .contact-content .form-group input,textarea{
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ced4da;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
}

#contact-section .container .col-lg-7 .contact-content .form-group textarea{
    padding: 15px;
}

#contact-section .container .col-lg-7 .contact-content .form-group input:focus,textarea:focus{
    border-color: #47b2e4;
    outline: none;
}

#contact-section .container .col-lg-7 .contact-content .display-hidden{
    margin-bottom: 8px;
}

#contact-section .container .col-lg-7 .contact-content .form-group .loading{
    display: none;
    text-align: center;
    padding: 15px;
    font-size: 17px;
}

#contact-section .container .col-lg-7 .contact-content .form-group .error-message{
    display: none;
    padding: 15px;
    background-color: #ed3c0d;
}

#contact-section .container .col-lg-7 .contact-content .form-group .sent-message{
    display: none;
    padding: 15px;
    color: #ffffff;
    background-color: #18d26e;
    font-weight: 600;
    text-align: center;
}

#contact-section .container .col-lg-7 .contact-content .form-group .loading::before{
    content: "";
    width: 24px;
    height: 24px;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px -6px 0;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

#contact-section .container  .col-lg-7 .contact-content form button{
    padding: 12px 34px;
    color: #ffffff;
    background-color: #47b2e4;
    border-radius: 50px;
    border: 0;
}

@-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

/*---------
 Contact Section End
---------*/

/**-- Main Section End --**/

/*-- Footer Section Start --*/

/*--------
Footer Subscribe Section Start
--------*/
#footer-subscribe{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f3f5fa;
}

#footer-subscribe h4{
    font-size: 24px;
    font-weight: 600;
    color: #37517e;
    line-height: 1;
    margin-bottom: 20px;
}

#footer-subscribe form{
    background-color: #ffffff;
    margin-top: 30px;
    text-align: left;
    border-radius: 50px;
    padding: 6px 12px;
    position: relative;
    box-shadow: 0 0 25px 0 rgba(0,0,0,0.3);
}

#footer-subscribe form input[type="email"]{
    border: 0;
    width: calc(100% - 100px);
    padding: 4px 8px;
    outline: none;
}

#footer-subscribe form input[type="submit"]{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background-color: #47b2e4;
    padding: 0 20px;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 15px rgba(0,0,0,0.1);
}
/*--------
Footer Subscribe Section End
--------*/

/*--------
Footer Top Subscribe Section Start
--------*/
#footer-top{
    background-color: #ffff;
    padding-top: 60px;
    padding-bottom: 60px;
}

#footer-top .container .footer-contact h3{
    font-size: 28px;
    margin-bottom: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
}

#footer-top .container .footer-contact address, p{
    font-size: 14px;
    line-height: 24px;
    color: #5e5e5e;
}

#footer-top .container .footer-contact p{
    margin-bottom: 0;
}

#footer-top .container .col-lg-3 h4{
    font-size: 16px;
    font-weight: bold;
    color: #37517e;
    margin-bottom: 12px;
}

#footer-top .container .col-lg-3 ul li{
    padding-top: 8px;
    padding-bottom: 8px;
}

#footer-top .container .col-lg-3 ul li:first-child{
    padding-top: 0;
}

#footer-top .container .col-lg-3 ul li:last-child{
    padding-bottom: 0;
}

#footer-top .container .col-lg-3 ul li i{
    font-size: 11px;
    line-height: 1;
    color: #47b2e4;
    padding-right: 8px;
}

#footer-top .container .col-lg-3 ul li a{
    font-size: 14px;
    color: #5e5e5e;
}

#footer-top .container .col-lg-3 .social-icon li{
    display: inline-block;
    margin-right: 5px;
}

#footer-top .container .col-lg-3 .social-icon li a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background-color: #47b2e4;
    border-radius: 50%;
}

#footer-top .container .col-lg-3 .social-icon li a i{
    color: #ffffff;
    padding: 0;
    font-size: 16px;
}

/*--------
Footer Top Section End
--------*/

/*--------
Footer Bottom Section Start
--------*/
#footer-bottom{
    background-color: #37517e;
    font-size: 14px;
    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;
}

#footer-bottom .container .copyright{
    float: left;
}

#footer-bottom .container .credit{
    float: right;
}

#footer-bottom .container .credit a{
    color: #47b2e4;
}

/*--------
Footer Bottom Section End
--------*/

/*-- Footer Section End --*/
/*-- Back To Top Button --*/

.back-to-top-btn{
    position: fixed;
    right: 15px;
    bottom: 15px;
    width: 40px;
    height: 40px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #47b2e4;
    color: #ffffff;
    border-radius: 50%;
    pointer-events: none;
    opacity: 0;
    transition: all 0.3s;
}

.back-to-top-btn:hover{
    background-color: #34a8dd;
    color: #ffffff;
}

.back-to-top-btn.active{
    opacity: 1;
    pointer-events: auto;
}






/*-------
 animated
 -------*/
 @-webkit-keyframes up-down {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }

 @keyframes up-down {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }

  /*---------
  media-quory
  ----------*/
  @media (max-width: 991px){
    /*-------
    Header
    -------*/
    .cencel-btn{
        display: block;
    }
    .icon.hide{
        display: none;
    }

    #header .nav-menu{
        position: fixed;
        top: 60px;
        right: 15px;
        left: 15px;
        bottom: 15px;
        background-color: #fff;
        border-radius: 10px;
        overflow-y: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        z-index: 999;
        
    }

    #header .nav-menu.active{
        display: block !important;
    }
    
    #header .nav-menu ul{
        display: flex;
        flex-direction: column;
    }
    
    header .nav-menu ul li a{
        color: #000;
    }

    #mobile-toggler-btn{
        display: block;
        cursor: pointer;
        background-color: transparent;
        color: #ffff;
        outline: none;
        border: 0;
        position: absolute;
        top: 20px;
        right: 30px;
        font-size: 23px;
        cursor: pointer;
    }

    #header ul .cencel-btn{
        position: fixed;
        top: 70px;
        right: 31px;
        font-size: 23px;
        color: #a59898;
        cursor: pointer;
    }

    #header .get-started-btn{
        margin-left: 0;
        margin-right: 25px;
    }

    /*---------
    Hero sectin
    ----------*/


    #hero{
        text-align: center;
        padding-bottom: 40px;
    }

    #about .container .row p{
        text-align: justify;
    }

    #why-us .container-fluid .col-lg-5{
        min-height: 400px;
    }

    #frequently-section .col-12{
        padding-left: 50px;
        padding-right: 50px;
    }

    #footer-bottom .container .copyright{
        margin-bottom: 7px;
    }

  }

  @media (max-width: 767px){
    #hero .container .col-lg-6 h1{
        font-size: 28px;
        line-height: 36px;
        margin-top: 5px;
    }

    #hero .container .col-lg-6 h2{
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }

    #why-us .container-fluid .col-lg-7 .content{
        padding: 30px 50px;
    }

    #footer-top .social-icon{
        text-align: center;
    }

    #footer-bottom .container{
        padding: 0;
    }

    #footer-bottom .container .copyright, #footer-bottom .container .credit{
        text-align: center;
        float: none;
        
    }

  }

  @media (max-width: 576px){
        
    #about, #why-us, #progress-section, #service-section, #parallax-section, #portfolio-section, #team-section, #pricing-section, #frequently-section, #contact-section, #footer-subscribe, #footer-top, #footer-bottom{
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .section-title{
        padding-bottom: 0;
    }

    .section-title h2{
        font-size: 27px;
    }

    #header #mobile-toggler-btn{
        right: 15px;
    }

    #why-us .container-fluid .col-lg-7 .content{
        padding-left: 40px;
        padding-right: 40px;
    }

    #why-us .container-fluid .col-lg-7 .content h3, #progress-section .container .col-lg-6 h3{
        font-size: 27px;
    }

    #service-section .col-xl-3 .content i{
        font-size: 32px;
    }

    #service-section .col-xl-3 .content h4 a{
        font-size: 22px;
    }

    #parallax-section .container .col-lg-9 h4{
        text-align: center;
        font-size: 27px;
        font-weight: 600;
    }

    #parallax-section .container .col-lg-9 p{
        text-align: center;
    }

    #parallax-section .container .col-lg-3 .parallax-btn{
        padding: 5px 20px;
    }

    #frequently-section .col-12{
        padding-left: 30px;
        padding-right: 30px;
    }

    #contact-section .container .col-lg-5 .contact-content > div h4{
        font-size: 20px;
    }

       

  }

  @media (max-width: 426px){

    #header .get-started-btn{
        margin-right: 50px;
    }

    #hero .container .col-lg-6 h1{
        font-size: 24px;
    }

    #hero .container .col-lg-6 h2{
        font-size: 16px;
    }

    #why-us .container-fluid .col-lg-7 .content ul li a i{
        right: 5px;
    }

  }

  @media (max-width: 320px){
    #header #mobile-toggler-btn{
       left: 290px
    }

    #header #logo{
        margin-right: 20px !important;
    }

    #hero .container .col-lg-6 h1{
        font-size: 21px;
        line-height: 25px;
    }
    #hero .container .col-lg-6 h2{
        font-size: 15px;
        margin-bottom: 20px;
    }
    
    #hero .container .col-lg-6 .d-lg-flex .video-btn{
        margin-left: 0;
    }

    #why-us .container-fluid .col-lg-7 .content{
        padding-left: 20px;
        padding-right: 20px;
    }

    #portfolio-section ul li{
        margin-left: 2px;
        margin-right: 2px;
        padding-left: 18px;
        padding-right: 18px;
    }

    .back-to-top-btn{
        right: 55px;
    }

    #frequently-section .col-12 .frequently-content ul li a{
        font-size: 14px;
    }


 }

 @media (max-width: 280px){
    #header .get-started-btn{
        display: none;
    }

    #header #mobile-toggler-btn{
        left: 250px;
    }

 }

 @media (max-width: 240px){
    #header .get-started-btn{
        display: none;
    }

    #header #mobile-toggler-btn{
        left: 210px;
    }

 }

